Source: grive
Section: unknown
Priority: extra
Maintainer: José Luis Segura Lucas <josel.segura@gmx.es>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/match065/grive
Vcs-Git: git://github.com/match065/grive.git

Package: grive
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNU/Linux client for Google Drive
 Grive is a simple and lightweight Google Drive client for GNU/Linux
 written in C++.
 .
 It can syncronize a directory on your hard disk with your Google
 Drive account, downloading or uploading the files that are not in
 sync.
