#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_GNU_TYPE := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DB2MAN := /usr/share/xml/docbook/stylesheet/docbook-xsl/manpages/docbook.xsl

%:
	dh $@

override_dh_auto_build: debian/grive.1
	dh_auto_build

override_dh_auto_test:
	./obj-$(DEB_BUILD_GNU_TYPE)/libgrive/unittest

%.1: %.xml
	xsltproc -o $@ --param man.charmap.use.subset "0" --novalid --nonet $(DB2MAN) $<
